<h1>Edit Event:<%= @event.date %></h1>
 <form action="/events/<%= @event.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input id="date" type="text" name="date" value="<%=@event.date%>"><br> 
  <input id="host_name" type="text" name="host_name" value="<%=@event.host_name%>"><br>
  <input id="budget" type="text" name="budget" value="<%=@event.budget%>"><br><br>
  <label><strong>Select a Category:</strong></label><br><br>
  <% @category.each do |category| %>
  <input type="radio" name="category_id" id="<%=category.id %>" value="<%=category.id%>"><label><%=category.name %></label></input>
  <%end%>
  <br><br>
  <label><strong>Or create a new Category: </strong></label><input type="text" name="category[name]"></input><br><br>
  <%#binding.pry%>
  <input type="submit" value=" Edit Event ">
 </form> 