<h2>Event's Date: <%=@event.date%></h2>
<ul>
  <li>Host: <%=@event.host_name%></li>
  <li>Budget: <%=@event.budget%></li>
  <li>Category: <%category_name=Category.find_by_id(@event.category_id).name%><%=category_name%></li>
</ul>
<br>

<form action="/events/<%=@event.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value=" Delete Event ">
</form>

<br><br>
<a href="events/edit">Edit Event | </a>
<a href="/events"> See All Events | </a>
<a href="/events/new">Create a New Event | </a>
<a href="/logout">Log Out</a>